/* Write your CSS here */

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 576px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
}

.warning-heading {
  color: #ffffff;
  font-family: 'bree serif';
  font-size: 40px;
  font-size: 600;
}

@media screen and (min-width: 768px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
  .warning-heading {
    font-size: 50px;
  }
}
