/* Write your CSS here */

.match-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: #0f172a;
  width: 44%;
  border-radius: 12px;
  margin: 10px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 7px;
}

.team-logo-img {
  height: 60px;
  width: 60px;
}

.competing-team-header {
  color: #ffffff;
  font-family: 'bree serif';
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  text-align: center;
}

.result-text {
  color: #ffffff;
  font-family: 'bree serif';
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.match-status {
  font-family: 'bree serif';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.match-won {
  color: #18ed66;
}

.match-loss {
  color: #e31a1a;
}

@media screen and (min-width: 768px) {
  .match-card-container {
    width: 21%;
    padding: 40px;
  }
  .team-logo-img {
    height: 100px;
    width: 100px;
  }
  .competing-team-header {
    font-size: 24px;
  }
  .result-text {
    font-size: 16px;
  }
  .match-status {
    font-size: 20px;
  }
}
