.team-matches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.loader {
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.srh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.team-matches-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 20px;
}

.team-banner-img {
  width: 100%;
  border-radius: 6px;
}

.recent-matches-card {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .recent-matches-card {
    justify-content: center;
  }
}
